<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Counter by Omid Hashemzadeh</title>
</head>
<body>

<h1>Word counter</h1>

Phrase : {{ txt }}
<br>
Number of characters : {{ characters_count }}
<br>
Number of all words : {{ word_count }}
<br>
Number of unique words : {{ unique_words_count }}
<hr>
Words repetition : <br>

{% for word , count in words_repeat %}
    {{ word }} --> {{ count }} <br>
{% endfor %}

<!--{{ words_repeat }}-->

<br>
<a href="{% url 'homepage' %}"> Count again </a>

<hr>
{% include 'about.html' with designer='Omid Hashemzadeh' %}

</body>
</html>